<div class="node" *ngIf="node">
  <div class="flex align-center" (click)="toggleNodeOpen()">
    <img src="assets/icons/{{node.type}}.png" *ngIf="!isLoading" alt="">
    <img *ngIf="isLoading" src="assets/images/loader.gif">
    <div
      class="node-name"
      [ngClass]="{ disabled: !node.allowedUsers?.includes(currentUserId), 'has-children': node.hasChildren }"
    >
      {{node.name}}
    </div>
    <img *ngIf="node.hasChildren" class="arrow" [ngClass]="{ open: !isLoading && isOpen }" src="assets/icons/arrow.png" alt="">
  </div>
  <div class="nodes-wrapper" [ngClass]="{ open: !isLoading && isOpen }">
    <app-node
      [closeChild]="closeChildren"
      [currentUserId]="currentUserId"
      *ngFor="let childNode of children"
      [node]="childNode"
    ></app-node>
  </div>
</div>
